body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #366795;
}

.option {
    text-align: center;
    background-color: #195183;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.option img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    
    margin: 0 auto;
}

.option p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.option:hover {
    transform: scale(1.05);
}

img {
    width: 10px;
    height: 10px;
}
